fastapi==0.115.12
uvicorn[standard]==0.34.0
SQLAlchemy==2.0.40
psycopg[binary]==3.2.6
pydantic-settings==2.8.1
python-multipart==0.0.20
PyJWT==2.10.1
pwdlib[argon2]==0.2.1
email-validator==2.2.0
httpx==0.28.1
PyMuPDF==1.25.5
python-docx==1.1.2
pytesseract==0.3.13
Pillow==11.1.0
spacy==3.8.5
nltk==3.9.1
reportlab==4.3.1
